body { background-color: white;}

.media {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%
}

.btn {
  background-color: #2f3640;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  display: inline-block;
  height: 3em;
  overflow: hidden;
  margin: 0 0.2em;
  width: 3em;
 }

.btn-ico {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  margin: 15%;
  transition: 0.2s linear;
  width: 70%;
}

.btn-ico:hover { transform: scale(1.3);}

.btn-fb { background-image: url('img/fb.png');}
.btn-yt { background-image: url('img/yt.png');}
.btn-twit { background-image: url('img/twit.png');}
